# PostgreSQL — Neon
# Format: postgresql://user:password@ep-xxx.region.aws.neon.tech/neondb?sslmode=require
POSTGRES_URL=postgresql://neondb_owner:npg_H8GnqOA4DoLP@ep-holy-feather-aqz8nic3-pooler.c-8.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
# MongoDB Atlas
# Format: mongodb+srv://user:password@cluster.mongodb.net/?retryWrites=true&w=majority
MONGO_URL=mongodb+srv://rabbiachaudhary28_db_user:F0xdBtDWWS8EmA6t@cluster0.izgar0u.mongodb.net/
MONGO_DB=dermacom

# Neo4j Aura
# Format: neo4j+s://xxxxxxxx.databases.neo4j.io
NEO4J_URL=neo4j+s://b9b02060.databases.neo4j.io
NEO4J_USER=neo4j
NEO4J_PASSWORD=IdRpyx6gYkntn5AllSd7jyXuQ0RJ6A6xygkp8IXGgkU
# Gemini
GEMINI_API_KEY=AQ.Ab8RN6LsBqR5bTEdgZUHH-j4SB7iDY9fY7YYAjoxXgCqIGNscg
GEMINI_MODEL=gemini-2.0-flash

# JWT — generate with: python -c "import secrets; print(secrets.token_hex(32))"
SECRET_KEY=b351a551480018df87284501973e3a084e6233e76117f559cd1d6c563ba3ef9f
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=10080
