@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-text-size-adjust: 100%;
    overflow-x: hidden;
  }

  body {
    overflow-x: hidden;
    padding-bottom: env(safe-area-inset-bottom);
  }

  input,
  textarea,
  select,
  button {
    font-size: 16px;
  }

  @media (min-width: 640px) {
    input,
    textarea,
    select,
    button {
      font-size: inherit;
    }
  }
}
